body {
  font-family: "Poppins", sans-serif;
  background: #181719;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

div#root {
  width: 100%;
  padding: 15px 5%;
}

div#root header.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

div#root header.main-header h4 {
  width: 115px;
  height: 32px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 15.56px;
  font-family: "Crimson Pro";
  text-transform: uppercase;
  /* white-space: nowrap; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#root header.main-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#root header.main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

div#root header.main-header nav ul li {
  padding: 3px;
  margin: auto 26px;
}

div#root header.main-header nav ul li :last-child {
  margin-right: 0;
  padding-right: 0;
}

div#root header.main-header nav ul li a {
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 21.94px;
  color: #f7f7f7;
}

div#root main.main-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

div#root main.main-main section.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12%;
  padding-bottom: 12%;
}

div#root main.main-main section.main-section div#card1 {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#root main.main-main section.main-section div#card1 h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  font-family: "Lora";
  line-height: 61.44px;
  color: #ffffff;
}

div#root main.main-main section.main-section div#card1 p {
  font-style: normal;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 400;
  font-family: Montserrat;
  color: #ffffff;
}

div#root main.main-main section.main-section div#card1 a {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 21.94px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  margin-top: 46px;
  text-transform: capitalize;
}

div#root main.main-main section.main-section div#card2 {
  width: 65%;
}

div#root main.main-main section.main-section div#card2 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div#root main.main-main section.main-section div#card2 > div > img {
  width: 100%;
}

div#root main.main-main section.main-section div#card2 > div article {
  width: 400px;
  height: 185px;
  padding: 25px;
  overflow: hidden;
  background: #181719;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-right: 50px;
  margin-bottom: -60px;
}

div#root main.main-main section.main-section div#card2 > div article h3 {
  font-family: Lora;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  font-style: normal;
  color: #ffffff;
}

div#root main.main-main section.main-section div#card2 > div article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

div#root main.main-main section.main-section div#card2 > div article > div img {
  width: 65px;
  border-radius: 50%;
  margin-right: 20px;
}

div#root main.main-main section.main-section div#card2 > div article > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#root main.main-main section.main-section div#card2 > div article > div > div strong {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

div#root main.main-main section.main-section div#card2 > div article > div > div span {
  color: #828282;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

div#root footer.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#root footer.main-footer p {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #a9a9a9;
}

@media screen and (max-width: 1024px) {
  main.main-main {
    width: 100%;
  }
  main.main-main section.main-section {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.main-main section.main-section div#card1 {
    width: 100%;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */